$timeline-background-color: #f2e8d2;
$timeline-line-color: #c08457;
$year-background-color: #c08457;
$year-color: #f6f1eb;
$subtitle-color: #9c6644;
$details-background-color: #e8d6be;

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  position: relative;
  background-color: $timeline-background-color;
}

/* 🔥 Card con imagen de fondo */
.card {
  aspect-ratio: 5 / 6;
  width: 100%;
  max-height: 400px;
  max-width: calc(50% - 60px);
  position: relative;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  color: $timeline-background-color;
  overflow: hidden;
  position: relative;

  .text {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }

  .card_year {
    font-size: 1.8rem;
  }

  .card_month {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
}

/* Estilos de la imagen con lazy loading */
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

/* 🔥 Skeleton Loading Effect 🔥 */
.skeleton {
  background: #e0e0e0;
  position: relative;
}

.skeletonAnimation {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    $details-background-color 25%,
    $timeline-background-color 50%,
    $details-background-color 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Línea vertical de la timeline */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: $timeline-line-color;
  transform: translateX(-50%);
}

.timelineEvent {
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  margin-bottom: 60px;
  border-radius: 0;
  padding-inline: 40px;
}

/* Año alineado con la línea */
.year {
  font-weight: bold;
  background-color: $year-background-color;
  color: $year-color;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.year span {
  font-size: 1.8rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.subtitle {
  color: $subtitle-color;
}

/* Fondo del año grande detrás */
.yearBackground {
  padding-inline: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  color: rgba(140, 122, 96, 0.3);
  z-index: 1;
}

/* Contenido siempre a la derecha */
.details {
  background: $details-background-color;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  z-index: 3;
  position: relative;
}

/* 🔻 Ajustes para móviles 🔻 */
@media (max-width: 1024px) {
  .timelineEvent {
    background-position: 20%;
  }
}

@media (max-width: 768px) {
  .timeline::before {
    left: 20px;
  }

  .timelineEvent {
    flex-direction: column;
    align-items: flex-start;
    background-image: none !important;
  }

  .timelineEvent::before {
    display: none;
  }

  .year {
    display: none;
  }

  .details {
    width: 100%;
    margin-left: 0;
    padding-left: 40px;
    border-radius: 0;
    box-shadow: none;
  }

  .yearBackground {
    display: none;
  }

  .card {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
